* {
    font-family: "CommitMono Nerd Font", monospace;
    font-size: 12px;
    font-weight: 400;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
    border-bottom: 1px solid #1e1e1e;
}

tooltip {
    background-color: #1e1e1e;
    border: 1px solid #303030;
    border-radius: 6px;
}

tooltip label {
    color: #ffffff;
    padding: 8px 12px;
}

#workspaces {
    margin-left: 12px;
    background-color: transparent;
}

#workspaces button {
    background-color: transparent;
    color: #535353;
    padding: 0 8px;
    min-width: 18px;
    transition: color 100ms ease-out;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button:hover {
    color: #ffffff;
}

#workspaces button.urgent {
    color: #ff9580;
}

#custom-separator {
    color: #303030;
    padding: 0 10px;
}

#window {
    color: #989898;
    padding-left: 4px;
}

#tray {
    padding: 0 12px;
}

#tray > .passive {
    opacity: 0.5;
}

#tray > .active {
    opacity: 1;
}

#tray > .needs-attention {
    opacity: 1;
}

#tray menu {
    background-color: #1e1e1e;
    border: 1px solid #303030;
    border-radius: 6px;
    padding: 4px;
}

#tray menu menuitem {
    padding: 4px 8px;
    color: #989898;
}

#tray menu menuitem:hover {
    background-color: #303030;
    color: #ffffff;
}

#language,
#pulseaudio,
#custom-uptime,
#battery,
#clock {
    color: #989898;
    padding: 0 12px;
    transition: color 100ms ease-out;
}

#language:hover,
#pulseaudio:hover,
#custom-uptime:hover,
#battery:hover,
#clock:hover {
    color: #ffffff;
}

#pulseaudio {
    font-size: 14px;
}

#pulseaudio.muted {
    color: #535353;
}

#battery.warning {
    color: #d2b580;
}

#battery.critical {
    color: #ff9580;
}

#clock {
    margin-right: 14px;
}
